@import url('/utility.css');
@import url('/css_docs/colors.css');
@import url('./css_docs/Typography.css');
@import url('./css_docs/Reset.css');



.alert-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 1.5rem 1rem;
    padding: 1.5rem 2rem;
    border: 2px solid; 
    border-radius: 5px;
    
}
.close-button{
    margin-left: 2rem;
    padding: .3rem .8rem;
    border-radius: 50%;
}

.close-button:hover{
    margin-left: 2rem;
    padding: .3rem .8rem;
    border-radius: 50%;
    cursor: pointer;

}
.close-button:hover{
    cursor: pointer;
}

.normal-alert{
   
    color: var(--normal-dark);
    background-color: var(--normal-light);
    border-color: var(--normal-dark);
    
}

.normal-close-button{
    
    color: var(--normal-light);
    background-color: var(--normal-dark);
}



.invalid-alert{
    color: var(--invalid-dark);
    background-color: var(--invalid-light);
    border-color: var(--invalid-dark);
}
.invalid-close-button{
    
    color: var(--invalid-light);
    background-color: var(--invalid-dark);
}


.valid-alert{
    color: var(--valid-dark);
    background-color: var(--valid-light);
    border-color: var(--valid-dark);
}
.valid-close-button{
    
    color: var(--valid-light);
    background-color: var(--valid-dark);
}


.warning-alert{
    color: var(--warning-dark);
    background-color: var(--warning-light);
    border-color: var(--warning-dark);
}
.warning-close-button{
    
    color: var(--warning-light);
    background-color: var(--warning-dark);
}