.badges {
	width: 600px;
	border: 2px solid var(--border-color);
	padding: 1rem;
	border-radius: 5px;
	margin: 1rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.badge-element-container {
	margin: 1rem;
}
.badge-elements {
	display: flex;
	flex-direction: row;
	color: var(--dark);
	padding: 5px 7px;
}
.badge-button {
	margin-left: 20px;
	padding: 0.5rem 0.5rem;
	color: white;
	font-weight: 700;
	background-color: blueviolet;
	border: none;
	border-radius: 3px;
	outline: none;
}

.badge-button:hover {
	margin-left: 20px;
	padding: 0.5rem 0.5rem;
	color: white;
	font-weight: 700;
	background-color: blueviolet;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

/* Text with small badge */
.textbadge1 {
	background-color: var(--normal-medium);
	color: var(--primary-colorone);
	position: relative;
	left: -0.5rem;
	top: -0.7rem;
	padding: 4px 8px;
	border-radius: 50%;
}

.textbadge2 {
	align-items: center;
	display: flex;
	background-color: var(--normal-medium);
	color: var(--primary-colorone);
	position: relative;
	padding: 8px 12px;
	font-size: inherit;
	font-weight: 900;
	border-radius: 50%;
	left: -1rem;
	top: -1rem;
}
.textbadge3 {
	align-items: center;
	display: flex;
	border-radius: 50%;
	position: relative;
	background-color: #ff1493;
	color: var(--primary-colorone);
	padding: 8px 12px;
	left: -4.7rem;
	top: -1rem;
}
.textbadge4 {
	align-items: center;
	display: flex;
	background-color: #ff1493;
	position: relative;
	left: -0.5rem;
	padding: 8px 10px;
	top: -1rem;
	color: var(--primary-colorone);
	border-radius: 50%;
}
.textbadge5 {
	align-items: center;
	display: flex;
	height: 20px;
    background-color: var(--normal-medium);
    position: relative;
    padding: 5px 13px;
    left: 3.5rem;
    top: 1.9rem;
    border-radius: 50%;
}

.email {
	color: var(--normal-medium);
}
.email-button:hover {
	cursor: pointer;
	border-radius: 30px;
}
.email-button:active {
	background: cornsilk;
}
