:root{
    --primary-colorone: #f5fffa;
    --bg-color-header: #4169e1;
    --color-header-elements: cornsilk;
    --text-color-light: #999eb3e8;
    --text-color-dark: grey ;
    --border-color: grey ;
    --disabled-button:#c0c0c0;
    --hover-color-header:#87cefa;
     --normal-dark : #0c4a6e;
    --normal-medium:#4169e1;
    --normal-light : #bae6fd;
    --invalid-light : #e682d5;
  --invalid-dark : #dc2627;
  --valid-light : #bbf7d0;
  --valid-dark : #16a34a; 
  --warning-light : #fef08a;
  --warning-dark : #ca8a04;
  --dark: #000000;
  --primary-link:#ffa500;
  --secondary-link:#1e90ff;
  --listItem-color:#555;
  --bg-list:#4f5872;
  --list-fade:#636f91;
  --bg-ecom-header:#090a0e;
  --ecom-login:#147ebb;
  --ecom-login-bdr:#041621;
  --bg-modal:rgba(0,0,0,0.5);
--box-shadow-header:0 5px 5px 0 rgba(0, 0, 0, .3);
--box-shadow:0 0 5px rgba(0, 0, 0, .3);
--button-shadow:2px 2px 5px 3px rgba(0, 0, 0, .3);
}

.prime-color{
    color: var(--bg-color-header);
}
.secondary-color{
    color: var(--color-header-elements);
}
.dark-text{
   color: var(--text-color-dark); 
}
.light-text{
    color: var(--text-color-light); 
 }

 .shadow{
    --box-shadow:0 0 5px rgba(0, 0, 0, .3);
 }