@import url('/utility.css');


*{
    margin: 0;
    padding: 0;
}

:root{
    
    font-family: sans-serif;
    
}


.drawer{
    max-width: fit-content;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    border:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin: 2rem;
    padding: 1rem;
}
.drawer-header{
    padding-bottom: .5rem;
}
h1{
    font-size: medium;
    font-weight: 800;
}
.subtext{
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
}
.drawer-elements{
    position: relative;
display: flex;
flex-direction: column;
}

.list-items{
    position: relative;
    text-decoration: none;
    color: black;
    padding-left: 2.5rem;
    padding-top:.4rem;
padding-bottom: .4rem;

}

a:hover{
    
   background-color: #ee82ee; 
   border-radius: 4rem;
   color: white;
  
}

i{
    margin-top: -2px;
    margin-left: -30px;
    position: absolute;
    color: gray;
}