.list {
	font-size: 1.2rem;
	padding: 1rem 2rem;
	background-color: var(--bg-list);
	color: var(--primary-colorone);
	border: 5px solid var(--list-fade);
	border-radius: 10%;
}

.inline-list {
	text-align: center;
	display: inline-block;
	margin-right: 1rem;
	padding: 0.2rem 0.4rem;
	background-color: var(--bg-list);
	color: var(--primary-colorone);
	border: 2px solid var(--list-fade);
	border-radius: 3px;
}

.hover-item:hover {
	cursor: pointer;
}
.stacked-list {
	border: 2px solid var(--list-fade);
	border-radius: 3px;
	margin-bottom: 2px;
}
