@import url('//db.onlinewebfonts.com/c/0aeda7b5aba01b5ceddd4492b6aecae5?family=Hobeaux+Rococeaux+Background');
@import url('//db.onlinewebfonts.com/c/3472a29ae506df8291ece75a1f67c7f4?family=Booker');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Root  */

h1{
    /* Standard 1 */
    font-family: Times, "Times New Roman", Georgia, serif;
    /* Standard 2 */
    font-family: 'Montserrat', sans-serif;
    /* Fancy */
    font-family: "Hobeaux Rococeaux Background";
    /* E-commerce */
    font-family: "Booker";
/* cursive */
    font-family: 'Satisfy', cursive;
    
    font-size: 3rem;
}